html, body {
    height: 100%;
}
#Page1,
#Page2{
	height: 100%;
}

h1{
	font-family: "Simplifica", sans-serif;
	text-shadow: none;
}
@font-face {
  font-family: Simplifica;
  src: local("Simplifica"),
       url(SIMPLIFICATypeface.ttf);
	   
}
.ajax-loader,
.ajax-loader2 {
	visibility: hidden;
	background-color: rgba(255,255,255,0.7);
	position: absolute;
	z-index: +100 !important;
	width: 100%;
	height:100%;
	display:block;
	margin: 0 auto;
}

.ajax-loader img {
	position: relative;
	top:50%;
	display:block;
	margin: 0 auto;
}
.ajax-loader2 img {
	position: relative;
	top:50%;
	display:block;
	margin: 0 auto;
}

#.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-radio, float remove
/********************		Header		********************/
.headerHomepage,
.headerStatsPage{
	height: 8vh;
}
.homeIcon{
	max-height: 100%;
	padding: 25px 25px 25px 25px;
}
.ui-title.headerTitle{
	font-size: 4vh;
    margin: 0;
	height: 100%;
	line-height: 200%; 
    max-height: 100%;
	padding: 0;
	text-align: center;
}

/********************		Content		********************/
/**********			Homepage		**********/
#homePage{
	background-color: #333;
	height: calc(100% - 44px);
	position: inherit;
	width: 100%;
}
#Username{
	font-size: 3vh;
}
.addIdSection{
	background-color: #333;
	min-height: 20%;
}
.gameList.ui-btn.ui-icon-carat-r.ui-btn-icon-right{
	background-color: #333;
	border: none;
    color: white;
	font-family: Ubuntu;
		src: local("ubuntu-font-family-0.83/Ubuntu-M"),
		url(Ubuntu-M.ttf);
	padding: 1.5vh 1vh 1.5vh 3vh;
	text-shadow: none;
}
.idListview{
	margin: 0;
}
.noIdsTitle{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(left,  #45484d 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
	color: #FFFFFF;
	font-size: 3vh;
	height: 6vh;
	margin: 0;
}
h3.usernameListTitle.psn > .ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-b.ui-icon-plus,
h3.usernameListTitle.psn > .ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-b.ui-icon-minus{
	background-color: #2e4aa9;
	border:0 ;
}
h3.usernameListTitle.steam > .ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-b.ui-icon-plus,
h3.usernameListTitle.steam > .ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-b.ui-icon-minus{
	background-color: #3394b5;
	border:0 ;
}
h3.usernameListTitle.xbox > .ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-b.ui-icon-plus,
h3.usernameListTitle.xbox > .ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-b.ui-icon-minus{
	background-color: #3aa737;
	border:0 ;
}
.systemSection{
	#min-height: 20%;
}
.systemTitle,
.idTitle{
	color: #FFFFFF;
	font-size: 5vh;
	height: 7vh;
	line-height: 150%; 
	margin: 0;
	text-indent: 5%;
}
.idTitle{
	text-align: center;
	background-color: #000;
}
.systemTitle.psn{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#47a1ef+0,429aed+14,1283ed+31,268bef+50,2188ef+65,085edd+82 */
	background: #47a1ef; /* Old browsers */
	background: -moz-linear-gradient(45deg, #47a1ef 0%, #429aed 14%, #1283ed 31%, #268bef 50%, #2188ef 65%, #085edd 82%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #47a1ef 0%,#429aed 14%,#1283ed 31%,#268bef 50%,#2188ef 65%,#085edd 82%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #47a1ef 0%,#429aed 14%,#1283ed 31%,#268bef 50%,#2188ef 65%,#085edd 82%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47a1ef', endColorstr='#085edd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.systemTitle.steam{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#88d0ea+0,56c5ea+17,71ceef+33,3cbae8+55,11b0e0+74,00aae8+100 */
	background: #88d0ea; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #88d0ea 0%, #56c5ea 17%, #71ceef 33%, #3cbae8 55%, #11b0e0 74%, #00aae8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #88d0ea 0%,#56c5ea 17%,#71ceef 33%,#3cbae8 55%,#11b0e0 74%,#00aae8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #88d0ea 0%,#56c5ea 17%,#71ceef 33%,#3cbae8 55%,#11b0e0 74%,#00aae8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88d0ea', endColorstr='#00aae8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.systemTitle.xbox{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c2dbab+0,71db6b+15,86dd39+45,69bf28+75,74c13a+76,69bf28+79,76e01f+100 */
	background: #c2dbab; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #c2dbab 0%, #71db6b 15%, #86dd39 45%, #69bf28 75%, #74c13a 76%, #69bf28 79%, #76e01f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #c2dbab 0%,#71db6b 15%,#86dd39 45%,#69bf28 75%,#74c13a 76%,#69bf28 79%,#76e01f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #c2dbab 0%,#71db6b 15%,#86dd39 45%,#69bf28 75%,#74c13a 76%,#69bf28 79%,#76e01f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2dbab', endColorstr='#76e01f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.psn.ui-btn.ui-corner-all.ui-btn-inherit.ui-radio-on.ui-btn-active{
	background-color: #2794f3;
	font-size: 3vh;
	text-align: center;
}
.psn.ui-btn.ui-corner-all.ui-btn-inherit.ui-radio-off{
	font-size: 3vh;
	text-align: center;
}
.steam.ui-btn.ui-corner-all.ui-btn-inherit.ui-radio-on.ui-btn-active{
	background-color: #27bdf3;
	font-size: 3vh;
	text-align: center;
}
.steam.ui-btn.ui-corner-all.ui-btn-inherit.ui-radio-off{
	font-size: 3vh;
	text-align: center;
}
.xbox.ui-btn.ui-corner-all.ui-btn-inherit.ui-radio-on.ui-btn-active{
	background-color: #4ac331;
	font-size: 3vh;
	text-align: center;
}
.xbox.ui-btn.ui-corner-all.ui-btn-inherit.ui-radio-off{
	font-size: 3vh;
	text-align: center;
}
.ui-block-a.systems,
.ui-block-b.systems,
.ui-block-c.systems{
	width: 33%;
}
.ui-btn.ui-input-btn.ui-corner-all.ui-shadow{
	font-size: 3vh;
}
.ui-input-text.input{
	font-size: 3vh;
}
.ui-radio{
	float: none !important;
}
.ui-grid-b.ui-controlgroup{
	display: block;
	margin: 0;
}
.ui-grid-b > .ui-controlgroup-controls {
	display: block;
}
.usernameList{
	font-size: 4vh;
	height: 100%;
	line-height: 175%;
	padding: 0 0 0 10%;
}
.usernameListTitle{
	#height: 1;
}
/**********			Stats page		**********/
#statsPage{
	background-color: #0F5959;
	height: calc(100% - 44px);
	position: inherit;
	width: 100%;
}
.gameList{
	border: none;
	font-size: 3vh;
}
.gamelistview.ui-listview{
	border: none;
}
.getStats{
    margin: 10%;
    padding: 0 0 0 0;
	text-decoration: none;
}
.getStatsButton{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8307+0,ff9d35+11,ff9011+31,ffa24c+51,ff9319+73,ff9c32+87,ff7f04+100 */
	background: #ff8307; /* Old browsers */
	background: -moz-linear-gradient(left,  #ff8307 0%, #ff9d35 11%, #ff9011 31%, #ffa24c 51%, #ff9319 73%, #ff9c32 87%, #ff7f04 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #ff8307 0%,#ff9d35 11%,#ff9011 31%,#ffa24c 51%,#ff9319 73%,#ff9c32 87%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #ff8307 0%,#ff9d35 11%,#ff9011 31%,#ffa24c 51%,#ff9319 73%,#ff9c32 87%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8307', endColorstr='#ff7f04',GradientType=1 ); /* IE6-9 */
	font-family: Simplifica;
		src: local("Simplifica"),
		url(SIMPLIFICATypeface.ttf);
	border: none;
	font-size: 8vh;
	height: 10vh;
}
.statsPageUserInfo{
	color: #FFFFFF;
	margin: 0;
	text-align: center;
}
.statsPageUserInfo.psn{
	background: #47a1ef; /* Old browsers */
	background: -moz-linear-gradient(45deg, #47a1ef 0%, #429aed 14%, #1283ed 31%, #268bef 50%, #2188ef 65%, #085edd 82%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #47a1ef 0%,#429aed 14%,#1283ed 31%,#268bef 50%,#2188ef 65%,#085edd 82%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #47a1ef 0%,#429aed 14%,#1283ed 31%,#268bef 50%,#2188ef 65%,#085edd 82%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47a1ef', endColorstr='#085edd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.statsPageUserInfo.steam{
	background: #88d0ea; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #88d0ea 0%, #56c5ea 17%, #71ceef 33%, #3cbae8 55%, #11b0e0 74%, #00aae8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #88d0ea 0%,#56c5ea 17%,#71ceef 33%,#3cbae8 55%,#11b0e0 74%,#00aae8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #88d0ea 0%,#56c5ea 17%,#71ceef 33%,#3cbae8 55%,#11b0e0 74%,#00aae8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88d0ea', endColorstr='#00aae8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.statsPageUserInfo.xbox{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c2dbab+0,71db6b+15,86dd39+45,69bf28+75,74c13a+76,69bf28+79,76e01f+100 */
	background: #c2dbab; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #c2dbab 0%, #71db6b 15%, #86dd39 45%, #69bf28 75%, #74c13a 76%, #69bf28 79%, #76e01f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #c2dbab 0%,#71db6b 15%,#86dd39 45%,#69bf28 75%,#74c13a 76%,#69bf28 79%,#76e01f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #c2dbab 0%,#71db6b 15%,#86dd39 45%,#69bf28 75%,#74c13a 76%,#69bf28 79%,#76e01f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2dbab', endColorstr='#76e01f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height: 8vh;
}
.usernameTitle{
	font-size: 5vh;
	height: 100%;
	line-height: 150%; 
	max-height: 100%;
}


/**********			RocketLeague		**********/
.getUpdatedStats.ui-btn.ui-btn-right.ui-corner-all{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff670f+0,ff670f+100;Orange+Flat+%231 */
	background: #ff670f; /* Old browsers */
	background: -moz-linear-gradient(left,  #ff670f 0%, #ff670f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #ff670f 0%,#ff670f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #ff670f 0%,#ff670f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#ff670f',GradientType=1 ); /* IE6-9 */

	#color: #ffffff;
	font-size: 3vh;
	margin: 0;
	padding: 1vh;
	text-indent: 0;
	text-shadow: none;

}
.performance{
	font-family: Ubuntu;
		src: local("ubuntu-font-family-0.83/Ubuntu-M"),
		url(Ubuntu-M.ttf);
	height: 35vh;
	text-shadow: none;
}
.performanceRatings.ui-grid-b{
	height: 100%;
}
.rankings{
	font-family: Ubuntu;
		src: local("ubuntu-font-family-0.83/Ubuntu-M"),
		url(Ubuntu-M.ttf);
	height: 42vh;
	text-shadow: none;
}
.RankImageRL{
	height: 10vh;
	width: 10vh;
}
.RanksRL.ui-grid-c{
	background-color: #333;
	border-top: .3vh solid #000;
	color: #fff;
	font-size: 3vh;
	text-align: center;
}
.RanksBlueTextRL{
	color: #24a4f1;
    text-align: center;
}
.RanksGreenTextRL{
	color: #00ff16;
    text-align: center;
}
.RanksGoldTextRL{
	color: #fbee3c;
	text-align: center;
}
.RanksRedTextRL{
	color: #fb1413;
	text-align: center;
}
.RanksWhiteTextRL{
	text-align: center;
}
.offenseStats,
.supportStats,
.winStats{
	background-color: #333;
	border-top: .3vh solid #000;
	color: #24a4f1;
	font-size: 4vh;
	height: 33%;
	text-align: center;
}
.supportStats.ui-grid-a{
	text-align: right;
}
.statsPageUpdate{
	height: 100%;
	color: #FFFFFF;
	margin: 0;
}
.statsPageUpdateText{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,192b49+69,45484d+100 */
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(left,  #000000 0%, #192b49 69%, #45484d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #000000 0%,#192b49 69%,#45484d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #000000 0%,#192b49 69%,#45484d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=1 ); /* IE6-9 */

	font-size: 4vh;
	height: 100%;
	line-height: 200%; 
	max-height: 100%;
	text-indent: 2%;
}
.statsText{
	margin: 0;
}
.statsText.statsValue{
	color: #fff;
}
.statsText.ui-block-b{
	text-align: left;
}
.ui-grid-a>.statsText.ui-block-a{
	width: 55%;
}
.ui-grid-a>.statsText.ui-block-b{
	width: 45%;
}
.update{
	height: 8vh;
	position: relative;
}


/********************		Jquery Overrides ********************/
.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-b.ui-icon-plus,
.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-btn-b.ui-icon-minus{
	height: 7vh;
	padding: 0;
}
.ui-collapsible-content.ui-body-inherit{
	border: none;
}
